<div id="level-wrapper">
  <nav id="leftUi" class="ui">

  </nav>
  <nav id="topUi" class="ui">
    <h5 class="topUiH">WARSHIP</h5>
    <h5 class="topUiH">CREW</h5>
    <h5 class="topUiH">INFRASTRUCTURE</h5>
    <h5 class="topUiH">SPEED</h5>
    <h5 class="topUiH">TIME</h5>
    <h5 class="topUiH">RESOURCES</h5>
    <button id="menuButton" class="topUiButton topUiH"><h4>MENU</h4></button>
    <div id="enduranceBar" class="bar"></div>
    <div id="crewBar" class="bar"></div>
    <div id="infrastructureBar" class="bar"></div>
    <div id="speedBar" class="bar"></div>
    <div id="timeBar" class="bar"></div>
    <div id="resourcesBar" class="bar"></div>
  </nav>
  <app-level id="level">
  </app-level>
  <nav id="rightUi" class="ui">
    <h5>OWN POSITION</h5>
    <p id="ownPositionP">placeholder</p>
    <h5>TIME</h5>
    <p id="timeP">placeholder</p>
    <h5>SPEED</h5>
    <p id="speedP">placeholder</p>
    <h5>WARSHIP ENDURANCE</h5>
    <p id="warshipEnduranceP"></p>
    <h5>ARMOR</h5>
    <p id="armorP">placeholder</p>
    <h5>CREW</h5>
    <p id="crew">placeholder</p>
  </nav>
</div>
