<div id="pregameMenu" class="wrapper">
    <h2 id="chooseWarship" class="centeredHeader navy">CHOOSE WARSHIP</h2>
    <h2 id="outputConsoleH2" class="centeredHeader navy">CONSOLE</h2>
        <app-warship-carousel class="carousel">
        </app-warship-carousel>
    <h2 id="chooseLevel" class="centeredHeader navy">CHOOSE LEVEL</h2>
        <app-level-carousel class="carousel"> 
        </app-level-carousel>
    <div id="rightColumnPregameMenu" class="columnPregameMenu wrapper">
        <div id="pregameConsole">
            <h3 class="pregameConsoleH3 pregameConsoleH">OUTPUT</h3>
        </div>
    </div>
</div>