<div id="pregameMenu2" class="wrapper">
    <button type="button" id="chooseWarshipButton" class="headerButton headerButtonMain navy" (click)="this.hideCarousel('level')"> <h2>CHOOSE WARSHIP</h2> </button>
    <button type="button" id="chooseLevelButton" class="headerButton headerButtonMinimized navy" (click)="this.hideCarousel('warship')"> <h2>CHOOSE LEVEL</h2> </button>
    <button type="button" id="consoleButton" class="headerButton navy" (click)="this.resetConsole()"> <h2>CONSOLE</h2> </button>
        <app-warship-carousel id="warshipCarousel" class="carousel2">
        </app-warship-carousel>
    
        <app-level-carousel id="levelCarousel" class="carouselHidden"> 
        </app-level-carousel>
    <div id="rightColumnPregameMenu" class="wrapper">
        <div id="pregameConsole">
            <h3 class="pregameConsoleH3 pregameConsoleH">OUTPUT</h3>
        </div>
        <button type="button" id="startGameButton" class="wrapper notBlack centeredHeader" [disabled]="(this.allowGameStart() == true)" routerLink="/game" routerLinkActive="active">
            <h3>START</h3>
        </button>

    </div>
</div>