<div id="pregameMenu2" class="wrapper">
    <h2 id="chooseWarship" class="centeredHeader navy">CHOOSE WARSHIP</h2>
    <h2 id="outputConsoleH2" class="centeredHeader navy">CONSOLE</h2>
        <app-warship-carousel class="carousel2">
        </app-warship-carousel>
    <h2 id="chooseLevel" class="centeredHeader navy">CHOOSE LEVEL</h2>
        <app-level-carousel class="carouselHidden"> 
        </app-level-carousel>
    <div id="rightColumnPregameMenu" class="wrapper">
        <div id="pregameConsole">
            <h3 class="pregameConsoleH3 pregameConsoleH">OUTPUT</h3>
        </div>
        <button type="button" id="startGameButton" class="wrapper notBlack" [disabled]="(this.allowGameStart() == true)" routerLink="/game" routerLinkActive="active">
            <h3>START</h3>
        </button>

    </div>
</div>