<button type="button" id="leftWarshipCarouselButton" class="carouselArrowButton carouselButton notBlack" (click)="this.moveWarshipCarouselLeft()" [disabled]="this.warshipTypeArray.length == 1">
    <fa-icon class="carouselArrows" [icon]="faArrowLeft"></fa-icon>
</button>
<button type="button" id="rightWarshipCarouselButton" class="carouselArrowButton carouselButton notBlack" (click)="this.moveWarshipCarouselRight()" [disabled]="this.warshipTypeArray.length == 1">
    <fa-icon class="carouselArrows" [icon]="faArrowRight"></fa-icon>
</button>
<ul id="warshipCarouselUl">
    <li *ngFor="let warship of warshipTypeArray; index as i" class="warshipContainerLi warshipContainerLiLength">
        <h3 class="warshipName">{{warship.name | uppercase}}</h3>
        
        <div id="warshipHardDetails" class="warshipDetailsWrapper">
            <h4>Length:</h4> 
            <p>{{warship.length}}m</p>
            <h4>Height:</h4> 
            <p>{{warship.height}}m</p>
            <h4>Max speed:</h4> 
            <p>{{warship.maxSpeed}}</p>
            <h4>Repairment time</h4> 
            <p *ngIf="warship.repairmentTime != null">{{warship.repairmentTime}}</p>
            <p *ngIf="warship.repairmentTime == null">none</p>
            <h4>Armor:</h4> <p>{{warship.armor}}</p>
            <h4>Crew:</h4> <p>{{warship.crew}}</p>
        </div>
        <div id="warshipDynamicDetails" class="warshipDetailsWrapper">
            
            <h4>Avalaible weapons:</h4>
            <h4 *ngIf="warship.availableWeapons == null">none</h4>
            <ul class="warshipWeaponsUl" *ngIf="warship.availableWeapons != null">
                <li *ngFor="let weapon of warship.availableWeapons.weapon; index as j" class="warshipWeaponLi"><p class="extendableP" (mouseenter)="this.displayWeaponExtendedDetails(weapon, warship.name, warship.availableWeapons.quantity[j])">{{weapon.weaponName}}</p></li>
            </ul>
            <h4>Avalaible torpedes: </h4>
            <p *ngIf="warship.availableTorpedos == null">none</p>
            <ul class="warshipTorpedosUl" *ngIf="warship.availableTorpedos != null">
                <li *ngFor="let torpedo of warship.availableTorpedos.torpedo; index as k" id="" class="warshipTorpedoLi"><p class="extendableP" (mouseenter)="this.displayTorpedoExtendedDetails(torpedo, warship.name, warship.availableTorpedos.quantity[k])">{{torpedo.torpedoName}}</p></li>
            </ul>

            <h4>Skills:</h4>
            <ul *ngIf="warship.skills != null" class="warshipSkillsUl">
                <li *ngFor="let skill of warship.skills" class="warshipSkillsLi"><p class="extendableP">{{skill.skillName}}</p></li>
            </ul>
            <p *ngIf="warship.skills == null">none</p>
        </div>     
        <div class="warshipImageWrapper warshipDetailsWrapper">
            <img src="{{warship.backgroundImagePath}}">
        </div>
        <div id="warshipDetailsExtended{{warship.name}}" class="warshipDetailsWrapper warshipDetailsExtended">
        </div>
    </li>
</ul>
<button type="button" id="warshipCarouselSelectButton" class="carouselSelectButton carouselButton notBlack" (click)="this.selectWarship()">
    <h3>SELECT</h3>
</button>


<!-- export interface WarshipType {
    name: string,
    width: number,
    height: number,
    backgroundImagePath: string,
    description: string,
    avalaibleWeapons: WeaponType[] | null,
    availableTorpedes: TorpedoType[] | null,
    torpedeAmount: number,
    maxSpeed: number,
    repairmentTime: number | null,
    skills?: undefined,
    armor: number,
    crew: number,
} -->

<!-- weaponName: string,
firingRate: number,
reloadingRate: number,
barrelLife: number,
range: number[],
attackVector: AttackVector[],
damage: number[],
armorPenetration: number, -->