<button id="leftWarshipCarouselButton" class="carouselArrowsButton" (click)="moveWarshipCarouselLeft()">
    <fa-icon class="carouselArrows" [icon]="faArrowLeft"></fa-icon>
</button>
<button id="rightWarshipCarouselButton" class="carouselArrowsButton" (click)="this.moveWarshipCarouselRight()">
    <fa-icon class="carouselArrows" [icon]="faArrowRight"></fa-icon>
</button>
<ul id="warshipCarouselUl">
    <li *ngFor="let item of warshipTypeArray" class="warshipContainerLi">
        <h3>{{item.name | uppercase}}</h3>
        <h4 [innerHTML]="item.description | description: item.availableTorpedes"></h4>       
        <img src="{{item.backgroundImagePath}}">
    </li>
</ul>
<!-- name: "basic",
width: 12.5,
height: maxHeight * 0.025,
backgroundImage: undefined,
description: "Basic standard onstart warship.", -->