#fa-arrow-left {
    height: 1.5%;
  }
  
#fa-arrow-right {
    height: 1.5%;
}

.carouselButton {
    z-index: inherit;
    display: block;
    position: relative;
    align-self: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #999da6;
    box-sizing: border-box;
    border: 0.2vw solid rgb(211, 214, 217);
    border-radius: 1%;
}

.carouselArrowButton {
    grid-row: 1/3;
}

.carouselSelectButton, .carouselButton {
    box-sizing: border-box;
}

.carouselButton:hover {
    background-color: rgb(110, 110, 110);
    border: 0.2vw solid rgb(155, 155, 155);
    color: #cacaca;
}

.carouselButton:disabled {
    background-color: rgb(173, 173, 173);
    border: 0.2vw solid rgb(155, 155, 155);
    color: rgb(182, 182, 182);
}

#leftWarshipCarouselButton {
    grid-column: 1/2;
}
#rightWarshipCarouselButton {
    grid-column: 3/4;
}

#warshipCarouselUl {
    z-index: 6;
    display: inline-flex;
    flex-flow: column wrap;
    overflow: visible;
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: 100%;
    list-style-type: none;
}

.warshipContainerLi {
    display: grid;
    overflow: inherit;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 30% 60%;
    align-content: inherit;
    justify-content: inherit;
    position: relative;
    margin: inherit;
    padding: 0.5%;
    max-width: 100%;
    width: 100%;
    max-height: inherit;
    height: inherit;
    background-color: black;
    box-sizing: border-box;
    border: 0.4vw solid rgb(150, 150, 150)
}

.warshipName {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    grid-column: 1/3;
    grid-row: 1;
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.warshipDetails {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 2%; 
    font-family: 'Lucida Console';
    color: rgb(0, 209, 0);
    box-sizing: border-box;
}

#warshipHardDetails {
    flex-flow: column wrap;
    border-right: 0.1vw solid rgb(194, 77, 194); 
    border-left: 0.1vw solid rgb(194, 77, 194); 
}

#warshipDynamicDetails {
    flex-flow: column nowrap;
    border: 0.1vw solid rgb(194, 77, 194);
}

.warshipDetails > h4 {
    margin: inherit;
}

p {
    margin: inherit;
    text-indent: 2.5%;
}

.warshipContainerLi > h3, #warshipDetails {
    font-family: 'Lucida Console';
    color: rgb(0, 209, 0);
    box-sizing: border-box;
    border: 0.1vw solid rgb(194, 77, 194);
}

.warshipImageWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    box-sizing: border-box;
    border-bottom: 0.1vw solid rgb(194, 77, 194);
    border-right: 0.1vw solid rgb(194, 77, 194);
}

img {
    display: block;
    position: relative;
    align-self: flex-end;
    margin: 0;
    padding: 1%;
    object-fit: contain;
    width: 100%;
}